# bo record template for register outputs
record(bo,"$(P)$(R)") {
    field(DTYP,"asynUInt32Digital")
    #field(DTYP,"asynOctet")
    field(OUT,"@asynMask($(PORT) $(OFFSET) $(MASK))BCD_UNSIGNED")
    field(ZNAM,"$(ZNAM)")
    field(ONAM,"$(ONAM)")
}
